# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# temp binary directory
bin

# sample images that should come with the repo to begin with, but shouldn't be modified.
sample_images
